<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Add Post</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <h2>Add a Post</h2>

    <form method="POST" action="/postadded">
      <p>Username: <input id="username" type="text" name="username" value="<%=username%>" /></p>
      <p>Topic: <input id="topic" type="text" name="topic" value="<%=topic%>" /></p>
      <p>Title: <input id="title" type="text" name="title" value="<%=title%>" /></p>
      <p>Content: <textarea id="content" type="text" name="content" value="" ><%=content%></textarea></p>
      <input type="submit" value="Add Post" />
    </form>    
    <p class="errormessage"><%=errormessage %></p>
  </body>
</html>