<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Post</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <h2><%= post[0].post_title %></h2>
    <p><%= post[0].post_content %></p>
    Username: <%= post[0].postsUsername %><br>
    Post Date: <%= post[0].post_date %><br>

    <h2>Replies</h2>
        <table>
            <tr>
              <th>Reply</th>
              <th>User</th>
            </tr>
            <% post.forEach(function(reply) { %>
            <tr>
              <td><%= reply.reply %></td>
              <td><%= reply.repliesUserName %></td>
            </tr>
            <% }) %>
        </table>

    <h2>Make a reply</h2>
    <form method="POST" action="/reply">
        <p>Username: <input id="username" type="text" name="username" value="<%=username%>" /></p>
        <p>Content: <textarea id="content" type="text" name="content" value="" ><%=content%></textarea></p>
        <input type="hidden" id="post_tittle" name="post_id" value="<%=post[0].post_id%>" ><br><br>
        <input type="submit" value="Add Reply" />
      </form>
      <p class="errormessage"><%=errormessage %></p>

  </body>
</html>