<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Topics</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <h2>Topics</h2>
    <table>
      <tr><th>Topic</th><th>Description</th></tr>
      <%{ %>
        <tr>
          <td><%= topic[0].topic_title %></td>
          <td><%= topic[0].topic_description %></td>
        </tr>
      <% } %>  
        
      <h3>These users are a member of this topic</h2>
        <% topic.forEach(function(user) { %>
          <%= user.username %><br>
        <% }) %>  

    </table>    
  </body>
</html>