<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Topics</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <h3>User</h2>
    <%{ %>
      Username: <%= user[0].username %><br>
      First Name: <%= user[0].firstname %><br>
      Surname: <%= user[0].surname %><br>
      Country: <%= user[0].country %><br>
    <% } %>  

    <h3>This user is a member of these topics</h2>
      <% user.forEach(function(topic) { %>
        <%= topic.topic_title %><br>
      <% }) %>      

  </body>
</html>