<!DOCTYPE html>
<html>
  <head>
    <title><%=forumName%> - Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <h2>View posts</h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Topic</th>
        <th>Title</th>
        <th>Content</th>
        <th>User</th>
      </tr>
      <% posts.forEach(function(post) { %>
      <tr>
        <td>
          <%= post.post_date.toDateString() %> <%= post.post_date.getHours()
          %>:<%= post.post_date.getMinutes() %>
        </td>
        <td>
          <a href= "/viewposts/topic/<%=post.topic_title%>""
          ><%=post.topic_title%>
        </td>
        <td><a href= "/post/<%=post.post_title%>"" ><%= post.post_title %></td>
        <td><%= post.post_content %></td>
        <td>
          <a href= "/viewposts/user/<%=post.username%>"" ><%= post.username %>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
